[section-header]Deleted Pads[/section-header]{{ "" | nl }}
{{ "" | nl }}
[help-text]These pads are marked for deletion and will be permanently deleted after a month.[/help-text]{{ "" | nl }}
[help-text]To restore a pad:[/help-text]{{ "" | nl }}
[help-text]    padz restore <index>      - Restore specific pads[/help-text]{{ "" | nl }}
[help-text]    padz restore              - Restore all deleted pads[/help-text]{{ "" | nl }}
[help-text]To permanently delete:[/help-text]{{ "" | nl }}
[help-text]    padz purge <index>        - Permanently delete specific pads[/help-text]{{ "" | nl }}
[help-text]    padz purge                - Permanently delete all deleted pads[/help-text]{{ "" | nl }}
